.container{
	background-color:aliceblue;
}
#container1{
	background-image: url(assets/assets/h_img.jpg);
	height:400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	text-align: center;
	align-items: center;
}
#logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.white{
	color:white;
}
#container2{
	height:400px;
	display: flex;
	text-align: center;
	align-items: center;
}
#about{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#container3{
	background-image: url(assets/assets/s_image.jpg);
	height:400px;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	text-align: center;
	align-items: center;
}

#container4{
	height:140px;
	display: flex;
	text-align: center;
	align-items: center;
}
#centered{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#container5{
	height:400px;
	display: flex;
	text-align: center;
	align-items: center;
}

.displayed{
	height:auto;
	display: flex;
	text-align: center;
	align-items: center;
}
#center_img{
	margin: 15px;
}

#container7{
	height:auto;
	display: flex;
	text-align: center;
	align-items: center;
	margin-top: 80px;
}

#container9{
	background-image: url(assets/assets/c_image.jpg);
	height:600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	text-align: center;
	align-items: center;
	margin-top: 40px;
	position: relative;
}
.contact{
	position: absolute;
	margin-top: -420px;
	display: table;
	border: 2px solid white;
	color: white;
	align-self: center;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
