body{
	position: absolute;
}
.container{
	position: relative;
}
div h4{
	color: white;
}

#container1{
	position:relative;
	background-image:url(assets/backgrounds/hero.jpg);
	height:700px;
	width:1286px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 20px;
}
