body{
	position: absolute;
}
.container{
	position:relative;
}
div h4{
	color: white;
}
div h1{
	font-size: 60px;
}
div p{
	font-size: 20px;
}
#container1{
	position:absolute;
	background-image:url(assets/backgrounds/hero.jpg);
	height:700px;
	width:1270px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 30px;
}
#hero{
	width: 1200px;
	margin-left: 40px
}
#centered{
	display:block;
	margin-left: auto;
	margin-right: auto;
}
#centertxt{
	padding-top: 160px;
	color: white;
	display:flex;
	align-items: center;
	text-align: center;
}
#mouse{
	display:flex;
	align-items: center;
	text-align: center;
	padding-top: 200px;
}
#container2{
	background-color:beige;
	height: 150px;
	width: 1270px;
	position:relative;
	display:flex;
	align-items: center;
	text-align: center;
	margin-top:700px;
}

